body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Container{
    text-align: center;
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-areas: 
    "one two two"
    "one three four"
    "five five four";
    gap: 2px;
    animation: rotate 10s infinite linear;
}
.box{
    background-color: rgb(73, 73, 73);
    color: azure;
    height: 100%;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
